@import "tailwindcss";

:root {
	--background: oklch(97% 0.001 106.424);
	--foreground: #171717;
}

@theme inline {}

@media (prefers-color-scheme: light) {
	:root {
		--background: oklch(97% 0.001 106.424);
		--foreground: #fffcf5;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: openSans, dancingScript, sans-serif;
}

@layer base {
	a {
		@apply text-sky-800 font-medium underline hover:text-teal-700
	}
}

@layer components {
	.mobileLink {
		@apply no-underline text-2xl w-full text-center py-2 border-t border-slate-400 hover:underline
	}

	.desktopLink {
		@apply no-underline text-2xl w-full text-center px-4 py-1 border-slate-400 hover:rounded-md
	}

	.desktopSubMenu {
		@apply no-underline text-2xl font-normal
	}
}