name: Upload FAZB NextJS app to Dockerhub Container Registry
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"
jobs:
  build-and-publish:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0
      - name: Cache NextJS build
        id: cache-build
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          key: ${{ runner.os }}-nextjs-build-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-build-
      - name: Install dependencies
        run: npm ci
      - name: Build NextJS app
        run: npm run build
      - name: Log into Dockerhub Container Registry
        uses: docker/login-action@v3
        with:
          # registry: ghcr.io
          # username: ${{github.actor}}
          # password: ${{secrets.GITHUB_TOKEN}}
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}
      - name: List files before Docker build
        run: |
          echo "Top-level files:"
          ls -la
          echo "Prisma folder contents:"
          ls -la prisma/migrations
      - name: Build and push Docker image to Github Packages
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fazb-app:${{ github.ref_name }}
          build-args: |
            NEXT_PUBLIC_RECAPTCHA_SITE_KEY=${{ secrets.NEXT_PUBLIC_RECAPTCHA_SITE_KEY }}
            RECAPTCHA_SECRET_KEY=${{ secrets.RECAPTCHA_SECRET_KEY }}
